<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детальная страница проекта</title>
</head>

<body>
    <div style="margin-bottom:10px;">
        <a href="{% url 'task-create' project.pk %}">Добавить задачу</a>
    </div>
    {{project.name}}
    {% for task in project.tasks.all %}
    <p><a href="{% url 'task-detail' task.pk %}">{{ task.summary }}</a></p>
    {% empty %}
    <p>У данного проекта нет еще задач</p>
    {% endfor %}
</body>

</html>